
<nz-layout class="layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item  routerLink="/" nzIcon="user">
        {{'COMMON.Home' | translate}}
      </li>
      <li nz-submenu nzTitle="{{'COMMON.Category' | translate}}" nzIcon="team">
        <ul>
          <li nz-menu-item routerLink="adult">{{'CATEGORY.Adult' | translate}}</li>
          <li nz-menu-item routerLink="hentai">{{'CATEGORY.Hentai' | translate}}</li>
          <li nz-menu-item>{{'CATEGORY.Harem' | translate}}</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <button nz-button  class="trigger" [nzSize]="'small'" (click)="chagneLanguage()">{{currLangStr}}</button>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>