<nz-tabset>
    <nz-tab nzTitle="{{'Adult.BigTits' | translate}}">
        <video width="100%" controls="" 
        autoplay="" style="height: calc(100vh - 200px);"><source src="https://f14-group-zf.zdn.vn/1c73fb1d7671992fc060/6468736533557058207" type="video/mp4">Your browser does not support the video tag.</video>
    </nz-tab>
    <nz-tab nzTitle="{{'Adult.Massage' | translate}}">
        <video width="100%" controls="" 
        autoplay="" style="height: calc(100vh - 200px);">
        <source src="https://f14-group-zf.zdn.vn/6bd3b0c63daad2f48bbb/5578413470355566287" type="video/mp4">Your browser does not support the video tag.</video>
        
    </nz-tab>
    <nz-tab nzTitle="{{'Adult.Squirting' | translate}}">
        <video width="100%" controls="" 
        autoplay="" style="height: calc(100vh - 200px);">
        <source src="https://f13-group-zf.zdn.vn/1de32fd4a2b84de614a9/1238920596675795464" type="video/mp4">Your browser does not support the video tag.</video>
    </nz-tab>
  </nz-tabset>